{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Final Payment - Subject {{ participant.id_in_session }}
{% endblock %}

{% block content %}
    <h1>These are your Earnings for this Experiment</h1>

    <h3>Payoffs for Decisions</h3>
    {% if player.payment_block == 1 %}
        <p>The randomly chosen block for your payment is Block A</p>
    {% elif player.payment_block == 2 %}
        <p>The randomly chosen block for your payment is Block B</p>
    {% elif player.payment_block == 3 %}
        <p>The randomly chosen block for your payment is Block C</p>
    {% elif player.payment_block == 4 %}
        <p>The randomly chosen block for your payment is Block D</p>
    {% else %}
        <p>The randomly chosen block for your payment is Block E</p>
    {% endif %}
    <p>The randomly chosen phase for the block is Phase {{ player.payment_phase }}</p>
    <p>The randomly chosen sequence for the above Phase is {{ player.payment_decision }}</p>
    <p>Your payoff for this sequence is ${{ player.profit_decisions }}</p>

    <h3>Payoffs for Quizzes</h3>
    {% if player.payment_quiz_block == 2 %}}
        <p>The randomly chosen block for the quiz is Block B</p>
    {% elif player.payment_quiz_block == 3 %}
        <p>The randomly chosen block for the quiz is Block C</p>
    {% elif player.payment_quiz_block == 4 %}
        <p>The randomly chosen block for the quiz is Block D</p>
    {% else %}
        <p>The randomly chosen block for the quiz is Block E</p>
    {% endif %}
    <p>Your score for this quiz was {{ player.own_score }}</p>
    <p>The score of a randomly matched group member for this quiz was {{ player.other_score }}</p>
    <p>The question chosen for payment regarding your guess about your own score is
        "What is the probability that your own score is {{ player.own_question }}?"</p>
    <p>The question chosen for payment regarding your guess about the other person's score is
        "What is the probability that the other person's score is {{ player.other_question }}?"</p>
    <p>Your total payoff for this quiz is ${{ player.profit_quiz }}.</p>


    <h3>Final Payoff</h3>
    <p>In sum, your total payoff is {{ player.payoff }}</p>
    {% next_button %}

{% endblock %}
