{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    End - Subject {{ participant.id_in_session }}
{% endblock %}

{% block content %}
    <p>Thank you {{ player.name }} for taking part in this experiment. Please note the following information for your records.</p>
    <ul>
        <li>Your Subject ID is {{ participant.id_in_session}}</li>
        <li>Your total earnings for this experiment are {{ participant.payoff_plus_participation_fee }}</li>
    </ul>
    <p>Please note down this information on the receipt provided to you and wait to be called by the experimenter.</p>


    {% next_button %}
{% endblock %}


