<!--
Using the bootstrap tab controls to structure instructions on one page
Source: https://www.jqueryscript.net/other/bootstrap-tabs-carousel.html
-->
{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}
<!-- Tab navigation -->
<ul class="nav nav-tabs fixed-top navbar-light bg-light justify-content-center " id="myTab" role="tablist">

    <li class="nav-item">
        <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" onclick="topFunction()">Overview</a>
    </li>
    <li class="nav-item" >
        <a class="nav-link" id="block-tab" data-toggle="tab" href="#block" role="tab" aria-controls="block" onclick="topFunction()">Blocks
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="phases-tab" data-toggle="tab" href="#phases" role="tab" aria-controls="phases" onclick="topFunction()">Phases</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="sequences-tab" data-toggle="tab" href="#sequences" role="tab" aria-controls="sequences" onclick="topFunction()">Sequences</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="guesses-tab" data-toggle="tab" href="#guesses" role="tab" aria-controls="guesses" onclick="topFunction()">Guesses</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="jars-tab" data-toggle="tab" href="#jars" role="tab" aria-controls="jars" onclick="topFunction()">Jars</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="order-tab" data-toggle="tab" href="#order" role="tab" aria-controls="order" onclick="topFunction()">Order</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="payment-tab" data-toggle="tab" href="#payment" role="tab" aria-controls="payment" onclick="topFunction()">Payment</a>
    </li>

</ul>
<br>

<!-- Tab content -->
<div class="tab-content" id="myTabContent">

    <!-- Overview Tab -->
    <div class="tab-pane show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
        <p>Welcome and thank you for taking part in this Economics Experiment. This experiment will last for around 2-2.5
            hours. If you read the instructions carefully, you can earn a considerable amount of money depending on your
            decisions and chance. Your earnings will be paid out to you via Cash at the end of the experiment.</p>

        <p><i>Before we begin, we ask that you turn off your cell phones for the duration of this experiment. We also ask
            that you do not communicate with anyone for the duration of this experiment and only use the software provided
            to you on your devices. Failure to comply with these rules may result in dismissal from this experiment and you
            will not be paid any earnings you may have otherwise received.</i></p>
        <h2>Overview</h2>
        <div class="row">
            <div class="column">
                <ol>
                    <li>This experiment has 5 blocks. Each block has 2 phases, and each phase has 6 sequences.
                        Your main task is to make guesses about the chance that the color assigned to your group is
                        Red in each sequence. </li>
                    <li>Before each block, you will be randomly assigned into groups of 6.</li>
                    <li>You will be assigned a score for a block. In Block A, the score will be randomly assigned
                        to you. In Blocks B-E, this will be based on your score on the quiz you will take at that
                        beginning of the block. </li>
                    <li>You will only take a quiz at the start of Blocks B, C, D, and E.</li>
                    <li>There are two phases for each block. In Phase 1, we will not reveal your assigned score.
                        In Phase 2, we will reveal your assigned score.</li>
                    <li>In Phase 1, we will ask about your beliefs on your own and a randomly selected group member's
                        quiz performance.</li>
                    <li>In Phase 2, we will show you your score and ask you about your belief on a randomly selected
                        group member's quiz performance.</li>
                    <li>A higher score means your private signal is more likely to match the color assigned to your
                        group for the sequence. A lower score means it's less likely to match the assigned color.</li>
                    <li>You will proceed with your main task of making guesses about the assigned color of the
                        sequence, 2 guesses per sequence, which means 12 guesses per phase with a total of 24
                        guesses per block</li>
                    <li>A color, <span style="color:red">Red</span> or <span style="color:blue">Blue</span>, will be
                        randomly assigned to your group with equal chance for each sequence.</li>
                    <li>You will make two guesses about the probability that the assigned color is
                        <span style="color:red">Red</span> for the sequence.</li>
                    <li>Before making your 1st guess, we will show you an indication of other's guesses for the
                        sequence. We will show you nothing if you are the first mover in the sequence, but you will
                        still know that Red is assigned with 50% chance.</li>
                    <li>Before making your 2nd guess, we will show you your private signal drawn from your jar.
                        You will still see the same indications from guess 1.</li>
                    <li>You will start as the 1st mover in the first sequence you face, then as 2nd mover in the
                        second sequence you face, …, and lastly as the 6th mover in the sixth sequence you face.</li>
                    <li>You will proceed to the next block until you finish all 5 blocks.</li>
                </ol>
            </div>
            <div class="column">
                <img class = "resize" src="{% static 'Summary.png' %}"/>
            </div>
        </div>
        <br>
        <button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>
    </div>

    <!-- Block Tab -->
    <div class="tab-pane" id="block" role="tabpanel" aria-labelledby="block-tab">

        <h2>Blocks</h2>
        <div class="row">
            <div class="column">
                <p>This experiment consists of a series of decision rounds spread out over <strong>5 blocks</strong>. At the
                    beginning of each block, you will be <strong>randomly</strong> assigned to a group with 6 participants
                    (including you). Neither you, nor your group members will know each other's identities. Your main
                    task is to make guesses about the chance that the color assigned to your group is Red.</p>

                <p>You will be given a signal to help you make your guesses. At the beginning of each block you will
                    be assigned a score from 0 to 10. The accuracy of the signal will depend on the score. The purpose
                    of a higher score is to have a more accurate signal to help you make your guess. How the scores
                    are assigned to each one in your group depends on the block. </p>

                <p><strong>In Block A - </strong>You will be randomly assigned a score from 0 to 10, each equally likely.</p>

                <p><strong>In Blocks B-E - </strong>Your group will first take part in a general knowledge trivia quiz.
                    Each quiz contains 10 questions. Your score in the quiz determines your assigned score for the
                    block. <strong> Everyone in your group will take the same quiz per block.</strong></p>
            </div>
            <div class="column">
                <img class = "resize" src="{% static 'Overview_pool.png' %}"/>
            </div>
        </div>
        <br>
        <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button>
        <button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>
    </div>

    <!-- Phases Tab -->
    <div class="tab-pane" id="phases" role="tabpanel" aria-labelledby="phases-tab">
        <h2>Phases</h2>
        <div class="row">
            <div class="column">
                <p><strong>Each block will have 2 phases.</strong>. In Phase 1, you will not know the score assigned to you.
                    In Phase 2, you will be notified about your own score. <strong>However, you will never know
                    the score of any of your group members.</strong></p>
                <p>For Blocks B to E, you will make some additional guesses at the start of each phase about your and
                    a randomly selected group member's quiz performance. In Phase 1, after taking the quiz, for each
                    score S (from 0 to 10), you will guess the probability that the score is S by answering the
                    following question:</p>
                <p><strong>What do you think is the probability (0-100)% that the score is S?</strong></p>
                <p>You will make 2 sets of these 11 guesses. One set is for your own score on the quiz. The other set is for the
                    score of one randomly selected member of your group who has taken the same quiz.</p>
                <p>In Phase 2, you will be shown your own score and will once again make the same guesses for the
                    randomly selected member. </p>
                <p>Note that for each set, all probabilities must sum up to 100%!</p>
            </div>
            <div class="column">
                <img class = "resize" src="{% static 'Score_guess.png' %}"/>
            </div>
        </div>
        <br>
        <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button>
        <button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>
    </div>

    <!-- Sequences Tab -->
    <div class="tab-pane" id="sequences" role="tabpanel" aria-labelledby="sequences-tab">
        <h2>Sequences:</h2>
        <div class="row">
            <div class="column">
                <p>There are <strong>6 sequences in a given phase</strong> with a total of 12 sequence in a block.
                    In each of these sequences, your group will be assigned a color, <span style="color:red">Red</span>
                    or <span style="color:blue">Blue</span>, both equally likely. The color assigned to your group in each
                    sequence is chosen <strong>independently</strong> of the colors in other sequences. Neither you nor your group
                    members will know the actual color assigned to your group</p>

                <p>Your main task is to guess the probability that the color assigned to your group is
                    <span style="color:red">Red</span> for each sequence. You will make 2 guesses per sequence by
                    answering:</p>

                <p><strong>What do you think is the probability (0-100)% that the color is Red for this sequence?</strong></p>
                <p>For each sequence, every group member will make their guesses in a randomly determined order.
                    The timeline for each set of guesses is as follows:</p>

                <ol>
                    <li>When it is your turn, you will first see an indication of what the previous movers in your group have
                        done. If you are the first mover, you will see no indication.</li>
                    <li>You will then make your first guess (Guess 1) about the probability that the color assigned to the group
                        is <span style="color: red">Red</span> based on the indication of the previous movers. If you are the
                        first mover in the sequence, then you make your guess based only on the fact that the color
                        assigned is either Red with 50% chance or Blue with 50% chance.</li>
                    <li>You will then see a private signal that provides some hint as to your group's assigned color. You will then
                        make your second guess (Guess 2) about the probability that the color assigned to the group is
                        <span style="color: red">Red</span> based on the past indications and your signal.</li>
                </ol>
            </div>
            <div class="column">
                <p><em>The following is a sample illustration of six sequence of Phase 1 in a given block.</em></p>
                <br>
                <img class = "resize" src="{% static 'Overview_sequence.png' %}"/>
            </div>
        </div>
        <br>

        <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button>
        <button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>
    </div>

    <!-- Guesses Tab -->
    <div class="tab-pane" id="guesses" role="tabpanel" aria-labelledby="guesses-tab">
        <h2>Guesses</h2>
        <h3>Indications</h3>
        <div class="row">
            <div class="column">
                <p>Before making the first guess (Guess 1), you will be able to see an indication of what other people in your group
                    have guessed for this sequence. This indication can be either <span style="color: red">Red</span> or
                    <span style="color: blue">Blue</span> and will depend on their second guess (Guess 2). You won't be shown their
                    exact percentage, you will only know if their guesses are above or below 50%. If someone before you guessed
                    greater than 50%, the indication will be <span style="color:red">Red</span>.
                    If they guessed less than 50%, the indication will be <span style="color: blue">Blue</span>.
                    If they guessed 50%, then the computer will randomly choose an indication of either <span style="color:red">Red</span>
                    or <span style="color: blue">Blue</span>, each equally likely. If you are the first mover, there are no
                    previous guesses and hence no indications. Again, you only know the fact that the color assigned
                    is either Red with 50% chance or Blue with 50% chance.
                </p>
            </div>
            <div class="column">
                <p><em>The following is a sample illustration of a history of indications for Guess 1.</em></p>
                <br>
                <img class = "resize" src="{% static 'Guess1_example.png' %}"/>
            </div>
        </div>
        <br>
        <h3>Private Signal</h3>
        <div class="row">
            <div class="column">
                <p>Before you make the second guess, you will also receive a private signal. This signal will take the form of a ball
                    drawn from a jar that is assigned to you based on your group's color. If the group's color is <span style="color: red">Red</span>, your ball
                    will be drawn from a "<span style="color: red">Red</span> Jar" and if the group's color is <span style="color: blue">Blue</span>, the ball will be drawn from a "<span style="color: blue">Blue</span> Jar."
                    Each jar will be composed of 100 balls. The Red jar contains more red balls than blue balls. The
                    Blue jar contains more blue balls than red balls. The composition of the jars depends on your
                    assigned score for the block.
                    <strong>Note that your private signals are drawn independently of the signals of other participants</strong>.</p>
            </div>
            <div class="column">
                <p><em>The following is a sample illustration of a history of indications for Guess 2.</em></p>
                <br>
                <img class = "resize" src="{% static 'Guess2_example.png' %}"/>
            </div>
        </div>
        <br>
        <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button>
        <button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>
    </div>

    <!-- Jars Tab -->
    <div class="tab-pane" id="jars" role="tabpanel" aria-labelledby="jars-tab">
        <h2>Jars</h2>
        <div class="row">
            <div class="column">
                <p>Each of you gets their private signal drawn from their own assigned jar. The composition of your
                    assigned jar depends on your score (from 0 to 10) for the block. </p>
                <p>A higher score will lead to a higher number of Red balls and a lower number of Blue balls in the
                    Red jar. Likewise, higher scores will lead to a higher number of Blue balls and a lower number of
                    Red balls in the Blue jar.</p>
                <p>A score of 0-3 gives a composition of 55 red and 45 blue balls in the <span style="color:red">Red</span> jar
                    and 45 red and 55 blue balls in the <span style="color: blue">Blue</span> Jar. A score of 4-7 gives a composition
                    of 65 red and 35 blue balls in the <span style="color:red">Red</span> jar and 65 blue and 35 red balls
                    in the <span style="color: blue">Blue</span> jar. A score of 8-10 results in 90 red and 10 blue balls
                    in the <span style="color:red">Red</span> jar and 90 blue and 10 red balls in the
                    <span style="color: blue">Blue</span> jar.</p>
                <p><strong>Note - The color of everyone's jar is the same as the color of the group. However,
                    the composition of everyone’s jar is dependent on their own score. You will not know the
                    color of the jar the ball is drawn from, neither will you know the color or composition of the
                    jars of other people in your group. Your score has no influence on the chance of the color
                    being assigned to your group, rather a higher score makes it more likely for your ball to be
                    the same color as that of the group.</strong></p>
            </div>
            <div class="column">
                <p><em>The following is an illustration of the Jar composition given a score.</em></p>
                <br>
                <img class = "resize" src="{% static 'Jars.PNG' %}"/>
            </div>
        </div>
        <br>
        <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button>
        <button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>
    </div>

    <!-- Order Tab -->
    <div class="tab-pane" id="order" role="tabpanel" aria-labelledby="order-tab">
        <h2>Order of Sequences</h2>
        <div class="row">
            <div class="column">
                <p>In the beginning of a phase, each of you in your group will simultaneously act as the first mover
                    and make guesses in different sequences. After everyone makes their guesses as the first mover,
                    you will then randomly move to another sequence following the first mover of that sequence in
                    making your guesses. When everyone in your group finishes making their second set of guesses,
                    you move on to another randomly chosen sequence and make your two guesses following the first and
                    second movers of that sequence. This process repeats until all of you in the group
                    make your two guesses as the 6th mover.</p>
                <p>We repeat this structure twice per block, once for each phase.</p>
                <p>A few points to note:</p>
                <ol>
                    <li>The color assigned to the group remains the same for each mover in a given sequence. However, the color assigned
                        in one sequence has no impact on the color assigned in another sequence. Knowing the color in one sequence
                        does not help you in making your guesses in another sequence</li>
                    <li>You will never face the same sequence twice i.e. you will make only one set of guesses in a given sequence</li>
                    <li>You will never follow the same person twice meaning you will follow a given person at most once in any
                        given sequence. Also, you will never follow yourself.</li>
                </ol>
            </div>
            <div class="column">
                <p><em>The following is a sample illustration of the six sequences in a given phase.</em></p>
                <br>
                <img class = "resize" src="{% static 'Sequence_order.png' %}"/>
            </div>
        </div>
        <br>
        <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button>
        <button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>
    </div>

    <!-- Payment Tab -->
    <div class="tab-pane" id="payment" role="tabpanel" aria-labelledby="payment-tab">
        <h2>Payment</h2>
        <p>Your payment will depend on the following:</p>
        <ol>
            <li>Your performance on one randomly chosen quiz (from Blocks B, C, D and E) (up to $10)</li>
            <li>Your guess on one of your scores for the selected quiz in 1) (up to $2))</li>
            <li>Your guess on one of the scores of your group member's performance for the selected quiz in 1) (up to $2)</li>
            <li>Your two guesses in one randomly chosen sequence in Blocks A to E. (up to $24)</li>
        </ol>
        <p>After each block, you will be shown the <em>possible</em> payment you can receive provided the block or quiz is
            chosen for payment.</p>
        <p>For 1) we will pool your quiz score with the scores of 44 people who have previously taken the same quiz.
            Your earnings for your performance on the quiz will be $10 * r where r is your percentile on the quiz.</p>
        <p>For 4), the computer will first randomly choose a sequence for the block. Each of the 12 sequences
            is equally likely to be chosen. The computer will then draw a random number Y1 from 0 to 100. <strong>If Y1
            is less than or equal to your reported Guess 1</strong>, then you will be paid <strong>$12 if the assigned
            color is Red. If Y1 is greater than your guess,</strong> then you will be paid based on a lottery in
            which <strong>you can earn $12 with Y1% chance.</strong></p>
        <p>The computer will draw another random number Y2 from 0 to 100 for Guess 2. Then, the same payment scheme
            is implemented for your reported Guess 2 in the chosen sequence. This can earn $12.</p>
        <p>For your guesses about your own and random member’s quiz performance (parts (2) and (3)), the computer
            will randomly choose a score S from the selected quiz in part (1). The computer will then generate a
            number Y from 0 to 100. If Y is less than your guess, then you will be paid $2 if the score is S.
            If it less than Y, then you will be paid based on a lottery than can earn $2 with Y% chance.
            Each guess on the two selected scores can earn $2.</p>
        <p>At the end of the experiment, the computer will randomly draw a block from A to E and a quiz from blocks B to
            E. You will be paid for the chosen block and quiz as stated above. In addition to this, you will also
            be paid a $5 show-up fee.</p>
        <p><strong>Note: The payment scheme is designed in a way to ensure that the best way to maximize your earnings is to
            report your true guess for the probability. For example, for guesses regarding the color Red, you maximize your
            earnings by reporting your true beliefs regarding the probability of the color being Red.</strong></p>
        <br>
        <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button>
        <button class="nexttab btn-primary btn next">Next</button>
    </div>

</div>

{% endblock %}

{% block styles %}
    <style type="text/css">
        .next {
            float: right;
            margin: 40px auto;
        }

        .back{
            float: left;
            margin: 40px auto;
        }

        .page-header {
            margin: 0px 0 5px;
            padding: 0;
            border-bottom: none;
            text-align: center;
        }

        p{
            text-align: justify;
            text-justify: inter-word;
        }


        .nav {
            visibility: hidden;
        }

        .column {
          float: left;
          width: 50%;
          padding: 10px;
        }

        .row:after {
          content: "";
          display: table;
          clear: both;
        }

        .resize {
            max-width:100%;
            max-height:100%;
        }

    </style>
{% endblock %}

{% block scripts %}
<!-- Source: https://www.jqueryscript.net/other/bootstrap-tabs-carousel.html -->
    <script>
    function bootstrapTabControl(){
        var i, items = $('.nav-link'), pane = $('.tab-pane');
        // next
        $('.nexttab').on('click', function(){
            for(i = 0; i < items.length; i++){
                if($(items[i]).hasClass('active') == true){
                    break;
                }
            }
            if(i < items.length - 1){
            // for tab
                $(items[i]).removeClass('active');
                $(items[i+1]).addClass('active');
                // for pane
                $(pane[i]).removeClass('show active');
                $(pane[i+1]).addClass('show active');
            }

        });
        // Prev
        $('.prevtab').on('click', function(){
            for(i = 0; i < items.length; i++){
                if($(items[i]).hasClass('active') == true){
                    break;
                }
            }
            if(i != 0){
            // for tab
                $(items[i]).removeClass('active');
                $(items[i-1]).addClass('active');
                // for pane
                $(pane[i]).removeClass('show active');
                $(pane[i-1]).addClass('show active');
            }
        });
    }
    bootstrapTabControl();

    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
    </script>
{% endblock %}