{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Subject ID {{ participant.id_in_session }} - Guesses about another group member's score.
{% endblock %}

{% block content %}
    <p>In this page, we will ask you about your <i>beliefs</i> about the score of one <i>randomly matched</i>
        group member for the quiz you just took.</p>
    <p>For each score X from 0 to 10, we will ask you the following question <strong>"What do you think is the
    probability (0-100%) that the other person's score is X?"</strong></p>
    <p>You will use the sliders to indicate your guess about the probabilities. <strong>Note that the probabilities
    must sum up to 100%.</strong></p>

    {% formfields %}
    {% next_button %}
{% endblock %}


