{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Subject {{ participant.id_in_session }} - Phase 2
{% endblock %}

{% block content %}
    <div class="grid-container">
        <div class="info">
            <h3>We will now start Phase 2 of this block.</h3>
            <h3>Your score is {{ player.score }}</h3>
            <h3>The composition of your jars is given below!</h3>
        </div>
        <div class="red">
            <img class = "resize" src="{% static 'red_jar.png' %}"/>
            <p style = "color: red"><strong>{{ ball_A }} Red Balls</strong></p>
            <p style = "color: blue"><strong>{{ ball_B }} Blue Balls</strong></p>
        </div>
        <div class="blue">
            <img class = "resize" src="{% static 'blue_jar.png' %}"/>
            <p style = "color: blue"><strong>{{ ball_A }} Blue Balls</strong></p>
            <p style = "color: red"><strong>{{ ball_B }} Red Balls</strong></p>
        </div>
        <div class="misc">
            <p>Please click next to continue. On the next screen, we will ask you about your beliefs regarding a
            <i>randomly matched group member's score.</i></p>
            {% next_button %}
        </div>
    </div>


{% endblock %}

{% block styles %}
    <style type = "text/css">
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 0.5fr 1fr 0.5fr;
      gap: 0px 0px;
      grid-template-areas:
        "info info info info"
        "red red blue blue"
        "misc misc misc misc";
    }

    .info { grid-area: info; }

    .red { grid-area: red; }

    .blue { grid-area: blue; }

    .misc { grid-area: misc; }

    .resize {
            max-width:100%;
            max-height:100%;
        }
    </style>

{% endblock %}