{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Subject {{ participant.id_in_session }} - General Knowledge Trivia Quiz
{% endblock %}

{% block content %}
    <h2>Question 8</h2>

    <div class = "question">
        {% if subsession.q_sequence == 1 %}
            {% formfield player.Q8 label="What period in European cultural history took place from the 14th to the 17th century, after the Dark Ages?" %}
        {% else %}
            {% formfield player.Q8 label="Which bone in the human body is not attached to any other bone?" %}
        {% endif %}
    </div>

    Click next to submit and move to the next question.
    {% next_button %}

{% endblock %}

{% block styles %}
    <style type = "text/css">

        .question{
            -webkit-touch-callout: none;
              -webkit-user-select: none;
               -khtml-user-select: none;
                 -moz-user-select: none;
                  -ms-user-select: none;
                      user-select: none;
        }


    </style>
{% endblock %}
