{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Subject ID {{ participant.id_in_session }} - Block Start.
{% endblock %}

{% block content %}
    <h4>
        We will now start Block B.
    </h4>
    <h4>
        You have been randomly re-matched with 5 people to form a group of 6.
    </h4>
    <h4>
        You will now take part in a 10 question quiz. You will have 20 seconds per question.
    </h4>
    <h4>
        Most questions require either one or two words to answer. For names, please enter the first and last name,
        unless otherwise stated.
    </h4>
    <h4>
        Answers with spelling mistakes will be counted as incorrect.
    </h4>
    <h4>
        Remember that a score of 0-3 gives a composition of 55 Red and 45 Blue balls in the <span style="color:red">Red</span> jar
        and 45 Red and 55 Blue balls in the <span style="color: blue">Blue</span> Jar. A score of 4-7 gives a composition
        of 65 Red balls and 35 Blue balls in the <span style="color:red">Red</span> jar and 65 Blue balls and 35 Red balls
        in the <span style="color: blue">Blue</span> jar. A score higher than 7 results in 90 Red balls and 10 Blue balls
        in the <span style="color:red">Red</span> jar and 90 Blue balls and 10 Red balls in the
        <span style="color: blue">Blue</span> jar.
    </h4>
    <h4>
        Please click next to continue to the Quiz for this block.
    </h4>
    {% next_button %}
{% endblock %}