{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Subject ID {{ participant.id_in_session }} - Payoffs for Block Guesses.
{% endblock %}

{% block content %}
    <div>
        <h2>Results</h2>
        <p>This screen shows your payoff for the guesses you made in this block. You will receive this payoff if this block
            is chosen for payment at the end of the experiment.</p>

        <h3>The Phase chosen for this block is Phase {{ player.paying_round }}</h3>
        <h3>The Decision chosen for this phase is {{ player.paying_decision }}</h3>

        <h3>First Guess</h3>
        <p>Your first guess for the probability that the color assigned to your group in this sequence was {{ pre }}%</p>
        <p>The random number drawn from 0-100 is {{ player.random_pre }}</p>
        {% if player.random_pre <= pre %}
        <p>You will be paid ${{ Constants.decision_payoff }} if the color assigned to your group is <span style="color:red">Red.</span></p>
        {% else %}
        <p>You will be paid ${{ Constants.decision_payoff }} with a {{ player.random_pre }}% chance.</p>
        {% endif %}

        <h3>Second Guess</h3>
        <p>Your second guess for the probability that the color assigned to your group in this sequence was {{ post }}%</p>
        <p>The random number drawn from 0-100 is {{ player.random_post }}</p>
        {% if player.random_post <= post %}
        <p>You will be paid ${{ Constants.decision_payoff }} if the color assigned to your group is <span style="color:red">Red.</span></p>
        {% else %}
        <p>You will be paid ${{ Constants.decision_payoff }} with a {{ player.random_post }}% chance.</p>
        {% endif %}

        <h3>Color</h3>
        <p>The color assigned to your group was {% if state %}<span style="color:red">Red.</span>{% else %}<span style="color:blue">Blue.</span></p>{% endif %}

        <h3>Payoff</h3>
        <p>Your payoff for the first guess is ${{ player.profit_pre }}.</p>
        <p>Your payoff for the second guess is ${{ player.profit_post }}.</p>
        <p>Your final payoff for this block is ${{ player.guess_profit }}.</p>
        <p><strong>You will get this payoff only if this block is chosen for payment at the end of the experiment.</strong></p>

        {% next_button %}
    </div>
{% endblock %}

{% block styles %}
    <style type = "text/css">

        .grid-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 0.5fr 1fr 1fr;
            gap: 10px 10px;
            grid-template-areas:
                "information information information information"
                "red blue history history"
                "decision decision decision decision";
         }

        .information { grid-area: information; }

        .red { grid-area: red; }

        .blue { grid-area: blue; }

        .history { grid-area: history; }

        .decision { grid-area: decision; }

        .row{ display: none; }

        .mover{ width:250px; }

        .cell{
            width:150px;
        }

        .resize {
            max-width:100%;
            max-height:100%;
        }


    </style>
{% endblock %}


