{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Subject ID {{ participant.id_in_session }} - Block Start.
{% endblock %}

{% block content %}
    <h4>
        We will now start the first block.
    </h4>
    <h4>
        You have been randomly matched with 5 people to form a group of 6.
    </h4>
    <h4>
        At the beginning of this block, the computer
        will randomly assign you a score from 0 to 11. Each score is equally likely to be assigned, meaning you have
        a 1/11 chance to be assigned a score of 0, a 1/11 chance to be assigned a score of 1 and so on up to 10.
    </h4>
    <h4>
        On average, you can expect to be assigned a score of 5. Likewise, every other member in your group will also
        be assigned a score in a similar manner, however their score will be independent from yours, meaning your
        score has no influence on theirs.
    </h4>
    <h4>Remember that a score of 0-3 gives a composition of 55 Red and 45 Blue balls in the <span style="color:red">Red</span> jar
        and 45 Red and 55 Blue balls in the <span style="color: blue">Blue</span> Jar. A score of 4-7 gives a composition
        of 65 Red balls and 35 Blue balls in the<span style="color:red">Red</span> jar and 65 Blue balls and 35 Red balls
        in the <span style="color: blue">Blue</span> jar. A score higher than 7 results in 90 Red balls and 10 Blue balls
        in the <span style="color:red">Red</span> jar and 90 Blue balls and 10 Red balls in the
        <span style="color: blue">Blue</span> jar.
    </h4>
    <h4>
        Please click next to continue to the first decision screen.
    </h4>
    {% next_button %}
{% endblock %}