{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Subject ID {{ participant.id_in_session }} - Block Start.
{% endblock %}

{% block content %}
    <h3>
        We will now start the first block.
    </h3>
    <h3>
        You have been randomly matched with 5 people to form a group of 6.
    </h3>
    <h3>
        At the beginning of this block, the computer
        will randomly assign you a score from 0 to 11. Each score is equally likely to be assigned, meaning you have
        a 1/11 chance to be assigned a score of 0, a 1/11 chance to be assigned a score of 1 and so on up to 10.
    </h3>
    <h3>
        On average, you can expect to be assigned a score of 5. Likewise, every other member in your group will also
        be assigned a score in a similar manner, however their score will be independent from yours, meaning your
        score has no influence on theirs.
    </h3>
    <h3>
        Please click next to continue to the first decision screen.
    </h3>
    {% next_button %}
{% endblock %}